<div>
  <%= form_for @note do |f| %>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, required: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :note %>
      <%= f.text_area :note, required: true, class: 'form-control' %>
    </div>
    <%= f.submit 'Save', class: 'btn btn-success mb-2' %>
  <% end %>
</div>