<div class='mt-4'>
  <h1 class='text-center'>All notes</h1>
  <ul class='list-group'>
    <% @notes.each do |n| %>
      <li class='list-group-item'>
        <h3><%= n.created_at.strftime('%F') %> <%= n.city %>
        <%if n.weather != 'no data'%><%= n.weather %> <sup>o</sup>C<%end%></h3>
        <p><%= truncate(n.note, length: 40)%></p>
        <p><%= link_to 'Show', note_path(n), class: 'btn btn-success btn-sm' %> 
          <%= link_to 'Edit', edit_note_path(n), class: 'btn btn-primary btn-sm' %>  
          <%= link_to 'Delete', note_path(n), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %> 
        </p>
      </li>
    <%end%>
  </ul>
</div>