<div class='mt-4 card p-4'>
  <h2><%= @note.created_at.strftime('%F') %>
    <%= @note.city %></h2>
  <p><%if @note.weather != 'no data'%> Temp: <%= @note.weather %> <sup>o</sup>C<%end%></p>
  <p><%= @note.note %></p>
  <p><%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-success btn-sm' %>  <%= link_to 'Delete', note_path(@note), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %> </p>
  <p><%= link_to 'Back to all notes', notes_path, class: 'btn btn-sm btn-primary'%></p>
</div>